::ng-deep body {
     background: #f4f7fb;
     font-family: "Segoe UI", sans-serif;
 }

 .table thead {
     background-color: #0d6efd;
     color: white;
 }

 .btn {
     border-radius: 10px;
 }

 .modal-content {
     border-radius: 15px;
     overflow: hidden;
 }

 .modal-header {
     font-weight: 600;
 }

 .swal2-popup {
     font-size: 1rem !important;
     border-radius: 15px !important;
 }

 .table-hover tbody tr:hover {
     background-color: #e8f0ff !important;}