<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h3 class="fw-bold text-primary"><i class="bi bi-list-task me-2"></i> Manage Quizzes</h3>
        <button id="btnAddQuiz" class="btn btn-primary shadow-sm" data-bs-toggle="modal" data-bs-target="#quizModal"
            (click)="resetQuizForm(0,'', '',30)">
            <i class="bi bi-plus-circle"></i> Add Quiz
        </button>
    </div>

    <table class="table table-bordered table-hover align-middle" id="quizzesTable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Description</th>
                <th>Time Allowed</th>
                <th>Created Date</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            @for (item of quizList; track $index) {
            <tr>
                <td>{{item.quizId}}</td>
                <td>{{item.title}}</td>
                <td>{{item.description}}</td>
                <td>{{item.timeAllowed}}</td>
                <td>{{item.createdAt | formatDate}}</td>
                <td class="text-center">
                    <button class='btn btn-sm btn-success manageQuestions me-2' (click)="getQuestions(item.quizId)"
                        data-bs-toggle="modal" data-bs-target="#questionsModal" data-id='{{item.quizId}}'
                        data-title='{{item.title}}'>
                        <i class="bi bi-question-circle"></i> Questions
                    </button>
                    <button class='btn btn-sm btn-warning editQuiz me-2' data-bs-toggle="modal"
                        data-bs-target="#quizModal"
                        (click)="resetQuizForm(item.quizId,item.title, item.description,item.timeAllowed)"
                        data-id='{{item.quizId}}'>
                        <i class="bi bi-pencil"></i>
                    </button>
                    <button class='btn btn-sm btn-danger deleteQuiz' (click)="deleteQuiz(item.quizId)"
                        data-id='{{item.quizId}}'>
                        <i class="bi bi-trash"></i>
                    </button>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>


<!-- Quiz Modal -->
<div class="modal fade" id="quizModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title">Add / Edit Quiz</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <form [formGroup]="formQuiz" (submit)="saveQuiz()">

                <div class="modal-body">
                    <input type="hidden" formControlName="id" id="quizId" />
                    <div class="mb-3">
                        <label class="form-label">Title</label>
                        <input id="quizTitle" formControlName="text" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Description</label>
                        <textarea id="quizDescription" formControlName="description" class="form-control"></textarea>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Time Allowed (minutes)</label>
                        <input type="number" formControlName="time" id="quizTimeAllowed" class="form-control" min="1"
                            value="30" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button id="saveQuizBtn" class="btn btn-success">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Questions Modal -->
<div class="modal fade" id="questionsModal" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-success text-white">
                <h5 class="modal-title">Manage Questions for <span id="quizTitleLabel"></span></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="currentQuizId" />
                <button id="btnAddQuestion" class="btn btn-sm btn-success mb-3" data-bs-toggle="modal"
                    data-bs-target="#questionModal" (click)="resetQuestionForm(editingQuizId,0,'',1)">
                    <i class="bi bi-plus-circle"></i> Add Question
                </button>

                <table class="table table-bordered table-striped" id="questionsTable">
                    <thead class="table-dark">
                        <tr>
                            <th>ID</th>
                            <th>Question Text</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (item of questionList; track $index) {
                        <tr>
                            <td>{{item.id}}</td>
                            <td>{{item.questionText}}</td>
                            <td class="text-center">
                                <button class='btn btn-sm btn-success manageOptions me-2' (click)="getOptions(item.id)"
                                    data-bs-toggle="modal" data-bs-target="#optionsModal">
                                    Options
                                </button>
                                <button class='btn btn-sm btn-warning editQuestion  me-2' data-bs-toggle="modal"
                                    data-bs-target="#questionModal"
                                    (click)="resetQuestionForm(item.quizId ,item.id,item.questionText, item.points)"
                                    data-id='{{item.id}}'>
                                    Edit
                                </button>
                                <button class='btn btn-sm btn-danger deleteQuestion  me-2'
                                    (click)="deleteQuestion(item.id, item.quizId)" data-id='{{item.id}}'>
                                    Delete
                                </button>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Add/Edit Question Modal -->
<div class="modal fade" id="questionModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-warning">
                <h5 class="modal-title">Add / Edit Question</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <form [formGroup]="formQuestion" (submit)="saveQuestion()">

                <div class="modal-body">
                    <input type="hidden" formControlName="questionId" id="questionId" />
                    <input type="hidden" formControlName="quizId" id="questionQuizId" />
                    <div class="mb-3">
                        <label class="form-label">Question Text</label>
                        <textarea id="questionText" formControlName="text" class="form-control" rows="3"></textarea>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Points</label>
                        <input type="number" id="questionPoints" formControlName="point" class="form-control" min="1"
                            value="1" />
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" id="saveQuestionBtn" class="btn btn-success">Save Question</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Manage Options Modal -->
<div class="modal fade" id="optionsModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-info text-white">
                <h5 class="modal-title">Manage Options for <span id="questionLabel"></span></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="currentQuestionId" />
                <button id="btnAddOption" class="btn btn-sm btn-primary mb-3" data-bs-toggle="modal"
                    data-bs-target="#optionModal" (click)="resetOptionForm('',false,questionId,0)">
                    <i class="bi bi-plus-circle"></i> Add Option
                </button>
                <table class="table table-bordered table-striped" id="optionsTable">
                    <thead class="table-dark">
                        <tr>
                            <th>ID</th>
                            <th>Option Text</th>
                            <th>Is Correct</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (item of optionsDetail; track $index) {
                        <tr>
                            <td>{{item.id}}</td>
                            <td>{{item.text}}</td>
                            <td>
                                @if(item.isCorrect){
                                ✅
                                }@else{
                                ❌
                                }</td>
                            <td class="text-center">
                                <button class='btn btn-sm btn-warning editOption me-2' data-bs-toggle="modal"
                                    data-bs-target="#optionModal"
                                    (click)="editOption(item.id,item.questionId)">Edit</button>
                                <button class='btn btn-sm btn-danger deleteOption '
                                    (click)="deleteOption(item.id,item.questionId)" data-id='${o.id}'>Delete</button>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Add/Edit Option Modal -->
<div class="modal fade" id="optionModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-secondary text-white">
                <h5 class="modal-title">Add / Edit Option</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <form [formGroup]="formOption" (submit)="saveOption()">
                <div class="modal-body">
                    <input type="hidden" formControlName="id" />
                    <input type="hidden" formControlName="questionId" />
                    <div class="mb-3">
                        <label class="form-label">Option Text</label>
                        <input id="optionText" formControlName="text" class="form-control" />
                    </div>
                    <div class="form-check">
                        <input type="checkbox" id="optionIsCorrect" formControlName="isCorrect"
                            class="form-check-input" />
                        <label class="form-check-label">Is Correct</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button id="saveOptionBtn" type="submit" class="btn btn-success">Save Option</button>
                </div>
            </form>

        </div>
    </div>
</div>