 <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>Quiz Title</th>
                <th>Total Attempts</th>
                <th>Unique Users</th>
                <th>Highest Scorer</th>
                <th>Highest Score</th>
                <th>Average Score</th>
                <th>Most Difficult Question</th>
                <th>Correct %</th>
            </tr>
        </thead>
        <tbody>
            @for (item of dashboardModel; track $index) {
                <tr>
                    <td>{{item.title}}</td>
                    <td>{{item.totalAttempts}}</td>
                    <td>{{item.userCount}}</td>
                    <td>{{item.highestScorerName}}</td>
                    <td>{{item.highestScore}}</td>
                    <td>{{item.averageScore}}</td>
                    <td>{{item.mostDifficultQuestion}}</td>
                    <td>{{item.difficultQuestionAccuracy}}</td>
                </tr>
            }
        </tbody>
    </table>
    <canvas id="quizChart"></canvas>