@if(!submitted){
<div class="container mt-4">

    <div class="d-flex justify-content-between align-items-center mb-3">
        <h4 class="fw-bold">Time Remaining: <span id="timer" class="text-danger fw-semibold"> {{timer}} </span></h4>
    </div>
    <hr />
    @if(quizInfo){
    <h2 class="fw-bold">{{quizInfo.title}}</h2>
    <p class="text-muted">{{quizInfo.description}}</p>
    }
    @for (item of questionList; track $index) {

    <div class="card mb-3 p-3 shadow-sm">
        <h5 class="fw-semibold">{{item.questionText}}</h5>
        @if(item.answerOptions && item.answerOptions.length>0){
        @for (opt of item.answerOptions; track $index) {
        <div class="form-check mb-1">
            <input class="form-check-input" type="radio" name="{{item.id}}" (click)="answerSelected(item.id,opt.id)"
                value="{{opt.id}}" />
            <label class="form-check-label" for="{{opt.id}}">
                {{opt.text}}
            </label>
        </div>
        }
        }@else {
        <p class="text-danger">No options found for this question.</p>
        }
    </div>
    }
    <button type="button" class="btn btn-primary" (click)="submitQuiz()">Submit Quiz</button>
</div>
}@else {
    <app-quiz-result [score]="score" [total]="total"/>
}
