
<nav class="navbar navbar-expand-sm navbar-toggleable-sm">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="UserDashboard" asp-action="Index">
            <span>🎯</span> QuizMaster
        </a>
        <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!-- <li class="nav-item">
                     <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">🏠 Home</a>
                 </li>
                 <li class="nav-item">
                     <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">🔒 Privacy</a>
                 </li>  -->
            </ul>
            <div class="d-flex align-items-center">
                <span class="text-light me-2">👋 Welcome, <strong>
                        {{_authService.getLoggedInUserName()}}</strong></span>
                <a class="btn btn-logout">Logout</a>
            </div>
        </div>
    </div>
</nav>